<table class="table table-striped table-bordered table-hover dataTable no-footer commits top-space-lg-m12">
    <thead>
    <tr>
        <th class="col-md-2" data-translate="application_pipeline_column_author"></th>
        <th class="col-md-2" data-translate="application_pipeline_column_commit"></th>
        <th class="col-md-6" data-translate="application_pipeline_column_msg"></th>
        <th class="col-md-2" data-translate="application_pipeline_column_date"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in ctrl.commits track by $index">
        <td>
            <img ng-src="{{c.author.avatar}}" width="32" height="32" ng-if="c.author.avatar !== ''">
            <span data-ng-bind="c.author.name" class="text-center"></span>
        </td>
        <td><a ng-href="{{c.url}}" data-ng-bind="ctrl.getGitID(c.id)"></a></td>
        <td><pre>{{ctrl.trustAsHtml(c.message)}}</pre></td>
        <td><span am-time-ago="c.authorTimestamp"></span>
        </td>
    </tr>
    </tbody>
</table>
