<div id="PasswordView">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/images/cds.png">
            </div>
            <div class="col-md-6 col-md-offset-3 top-space-m40">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="password_title"></span>
                    </div>
                    <div class="panel-body">
                        <form class="form" name="form" data-ng-submit="vm.resetPassword(form)" novalidate>
                            <div class="form-group">
                                <label for="login" data-translate="password_field_username"></label>
                                <input type="text" id="login" name="login" class="form-control"
                                       data-ng-model="vm.user.username" required>
                                <p class="help-block" data-ng-show="form.login.$error.required && vm.submitted"
                                   data-translate="password_error_username"></p>
                            </div>

                            <div class="form-group"
                                 data-ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
                                <label for="email" data-translate="password_field_email"></label>
                                <input type="email" id="email" name="email" class="form-control"
                                       data-ng-model="vm.user.email"
                                       required/>
                                <p class="help-block" data-ng-show="form.email.$error.email && vm.submitted"
                                   data-translate="password_error_email_pattern"></p>
                                <p class="help-block" data-ng-show="form.email.$error.required && vm.submitted"
                                   data-translate="password_error_email_required"></p>
                            </div>

                            <div class="pull-left">
                                <button class="btn btn-primary btn-lg btn-login" type="submit"
                                        data-translate="account_button_password"></button>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-info btn-lg btn-register" ui-sref="login"
                                   data-translate="account_button_login"></a>
                                <a class="btn btn-info btn-lg btn-register" ui-sref="signup"
                                   data-translate="account_button_register"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
