<div id="GroupList">
    <h2 data-translate="group_list_title_add"></h2>
    <form novalidate name="form" novalidate>
        <div class="group-control">
                <label for="groupName" data-translate="group_list_label_add"></label>
                <input id="groupName" name="groupName" class="form-control" data-ng-model="ctrl.newGroup.name" required>
                <div ng-messages="form.groupName.$error" class="has-error" ng-show="ctrl.submitted" >
                    <div ng-message="required">
                        <p class="help-block" data-translate="group_list_add_err_required"></p>
                    </div>
                </div>
        </div>
        <div class="group-control">
            <button type="button"
                    progress-button="ctrl.submit(form)"
                    class="button-success pull-right top-space-lg-m4"
                    pb-random-progress="true" pb-style="fill" >
                {{'group_list_btn_add' | translate}}</span>
            </button>
        </div>
    </form>
    <h2 data-translate="group_list_title_list"></h2>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr>
                <th data-translate="group_list_column_name"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="g in ctrl.groups | orderBy: '+name' track by $index" data-ng-click="ctrl.goToGroup(g)" class="link">
                <td data-ng-bind="g.name"></td>
            </tr>
        </tbody>
    </table>
</div>

