<div ng-repeat="a in ctrl.warning track by $index" class="alert alert-danger" role="alert">
    <a ui-sref="app.pipeline-action-show({'key': ctrl.key, 'pipName': a.pipeline.name, 'stageId': a.stage_id, 'actionId': a.action.id, 'tab': 'action'})" ng-if="!a.createVar">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span data-ng-bind="a.message"></span>
    </a>

    <span class="link pull-right" ng-if="!a.createVar && ctrl.isMissingVar(a.id)" data-ng-click="a.createVar = true;a.newVar.name = a.message_param.VarName; a.newVar.type='string'">Click here to create variable</span>
    <a class="pull-right" ng-if="!a.createVar && ctrl.missingEnvVar(a.id)" ui-sref="app.project-show({'key': ctrl.key, 'tab': 'environment', 'add': a.message_param.VarName})" data-translate="warning_action_variable_env"></a>

    <div ng-if="a.createVar" class="row action">
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
            <ui-select ng-model="a.newVar.type">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="t in ctrl.types">
                    <div ng-bind-html="t | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
            <parameter-value-field param="a.newVar" type="a.newVar.type" edit="true" runlist="false"></parameter-value-field>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
            <button type="button" progress-button="ctrl.createVar(a)" class="button-success" pb-random-progress="true" pb-style="fill" >{{ 'common_btn_save' | translate }}</button>
            <button type="button" class="btn btn-default" data-translate="common_btn_cancel" data-ng-click="a.createVar = false"></button>
        </div>
    </div>
</div>

