<div class="modal-header">
    <h3 class="modal-title" id="modal-title" data-translate="action_audit_modal_title"></h3>
</div>
<div class="modal-body" id="modal-body">
    <p data-translate="action_audit_confirm_red"></p>
    <p data-translate="action_audit_confirm_green"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ctrl.ok()" data-translate="action_audit_btn_apply"></button>
    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" data-translate="common_btn_cancel"></button>
</div>